<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
    {{ partial "home/head.html" . }}
</head>
    <body id="page-top" class="index">
        {{ partial "home/nav.html" . }}
        {{ partial "home/hero.html" . }}
        {{ partial "home/services.html" . }}
        {{ partial "home/portfolio.html" . }}
        {{ partial "home/about.html" . }}
        <!--
        {{ partial "home/team.html" . }}
        -->

        <!--
        {{ partial "home/clients.html" . }}
        {{ partial "home/contact.html" . }}
        -->
        {{ partial "home/footer.html" . }}
        {{ partial "home/modals.html" . }}
        {{ partial "js.html" . }}
    </body>
</html>
