{{ "<!-- Hero -->" | safeHTML }}
<header>
    <div class="container">
        <div class="intro-text">
            <!--
            <div class="intro-lead-in">{{ with .Site.Params.hero.title }}{{ . }}{{ end }}</div>
            <div class="intro-heading">{{ with .Site.Params.hero.subtitle }}{{ . }}{{ end }}</div>
            <a href="{{ .Site.Params.hero.homeurl }}" class="page-scroll btn btn-xl">{{ with .Site.Params.hero.buttonText }}{{ . }}{{ end }}</a>
            -->
            <a href="{{ .Site.Params.hero.homeurl }}" style=" position: relative;margin-left:100px;line-height:400px;display:inline-block;top:200px;" class=""><img src="../img/small_train.gif"></a>
        </div>
    </div>
</header>
{{ "<!-- Services Section -->" | safeHTML }}
