{{ "<!-- Footer section -->" | safeHTML }}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    {{ range .Site.Params.footer.social }}
                    <li><a href="{{ .link }}"><i class="fa {{ .icon }}"></i></a></li>
                    {{ end }}
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    {{ range .Site.Params.footer.quicklinks }}
                    <li><a href="{{ .link }}">{{ .text }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
    <br/>
    <div class="footer-under" style="background:#404040 none repeat scroll 0 0; color: #9e9e9e; padding: 15px 0;">
        <div class="container">
            <div class="row">
                    <div class="col-md-offset-2 col-lg-offset-2 col-sm-offset-2 col-lg-8 col-md-8 col-sm-8 col-xs-12" style="text-align: center">
                        <address>Copyright &copy; 2015 xifengzhan.com All Rights Reserved | 沪ICP备15055425号-1 上海岑石国际贸易有限公司 版权所有</address>
                    </div>
            </div>
        </div>
    </div>
</footer>
