{{ "<!-- Navigation -->" | safeHTML }}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--
            <a class="navbar-brand page-scroll" href="#page-top">{{ with .Site.Params.navigation.brand }}{{ . }}{{ end }}</a>
            -->
            <!--
            <a class="navbar-brand page-scroll" href="#page-top"><img src="img/top_left.gif" /></a>
            -->
        </div>
        {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">{{ with .Site.Params.navigation.services }}{{ . }}{{ end }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">{{ with .Site.Params.navigation.portfolio }}{{ . }}{{ end }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">{{ with .Site.Params.navigation.about }}{{ . }}{{ end }}</a>
                </li>
                <!--
                <li>
                    <a class="page-scroll" href="#team">{{ with .Site.Params.navigation.team }}{{ . }}{{ end }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">{{ with .Site.Params.navigation.contact }}{{ . }}{{ end }}</a>
                </li>
                -->
                <li>
                    <a class="page-scroll" href="/event_summary">{{ with .Site.Params.navigation.event_summary }}{{ . }}{{ end }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="/event_chair">{{ with .Site.Params.navigation.event_chair }}{{ . }}{{ end }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="/news_center">{{ with .Site.Params.navigation.news_center }}{{ . }}{{ end }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="/event_history">{{ with .Site.Params.navigation.event_history }}{{ . }}{{ end }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="/signup">{{ with .Site.Params.navigation.signup }}{{ . }}{{ end }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="/contact_us">{{ with .Site.Params.navigation.contact_us }}{{ . }}{{ end }}</a>
                </li>
            </ul>
        </div>
        {{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
    {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
