{{ "<!-- Portfolio Grid Section -->" | safeHTML }}
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.portfolio.title }}{{ . }}{{ end }}</h2>
                <h3 class="section-subheading text-muted">{{ with .Site.Params.portfolio.subtitle }}{{ . | markdownify }}{{ end }}</h3>
            </div>
        </div>
        <div class="row">
            {{ range .Site.Data.projects }}
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal{{ .modalID }}" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/{{ .preview }}" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>{{ .title }}</h4>
                    <p class="text-muted">{{ .category }}</p>
                </div>
            </div>
            {{ end }}
                <!-- Place somewhere in the <body> of your page -->
                <div class="flexslider">
                  <ul class="slides">
                    <li data-thumb="img/slide1-thumb.jpg">
                      <img src="img/slide1.jpg" />
                    </li>
                    <li data-thumb="img/slide2-thumb.jpg">
                      <img src="img/slide2.jpg" />
                    </li>
                    <li data-thumb="slide3-thumb.jpg">
                      <img src="img/slide3.jpg" />
                    </li>
                    <li data-thumb="slide4-thumb.jpg">
                      <img src="img/slide4.jpg" />
                    </li>
                    <li data-thumb="slide5-thumb.jpg">
                      <img src="img/slide5.jpg" />
                    </li>
                    <li data-thumb="slide6-thumb.jpg">
                      <img src="img/slide6.jpg" />
                    </li>
                    <li data-thumb="slide6-thumb.jpg">
                      <img src="img/slide7.jpg" />
                    </li>
                    <li data-thumb="slide6-thumb.jpg">
                      <img src="img/slide8.jpg" />
                    </li>
                    <!--
                    <li data-thumb="slide6-thumb.jpg">
                      <img src="img/slide9.jpg" />
                    </li>
                    <li data-thumb="slide6-thumb.jpg">
                      <img src="img/slide10.jpg" />
                    </li>
                    <li data-thumb="slide6-thumb.jpg">
                      <img src="img/slide11.jpg" />
                    </li>
                    -->
                  </ul>
                </div>
        </div>
    </div>
</section>
