<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
    {{ partial "head.html" . }}
</head>
    <body id="page-top" class="index">
        {{ partial "home/single_nav.html" . }}
        <section id="event_summary">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">往届活动</h2>
                        <h3 class="section-subheading text-muted">往届活动精彩回顾</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h3  style="text-align:left;font-weight: bold;">往届回顾</h3>
                        <p class="text-muted">２０１５年西风站作为“一带一路”万里行项目的车手招募方，成功招募车手担任走进米兰世博会的车队主力，联合ＣＣＴＶ央视《世纪丝路》纪录片拍摄组，９月中旬从新疆霍尔果斯出关，途经哈萨克斯坦、俄罗斯、土耳其、希腊抵达终点站意大利，活动历史４０多天，在米兰世博会完美收官。</p>
                        <h3  style="text-align:left;font-weight: bold;">参与嘉宾</h3>
                        <p class="text-muted"></p>
                        <h3  style="text-align:left;font-weight: bold;">米兰活动精彩回顾</h3>
                        <p class="text-muted"></p>
                    <br>
                    </div>
                </div>
            </div>
        </section>

        {{ partial "home/footer.html" . }}
        {{ partial "home/modals.html" . }}
        {{ partial "home/event_summary_js.html" . }}
    </body>
</html>
