<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
    {{ partial "home/head.html" . }}
</head>
    <body id="page-top" class="index">
        {{ partial "home/single_nav.html" . }}
        <section id="event_summary">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">活动组委会</h2>
                        <h3 class="section-subheading text-muted">活动组委会与支持机构</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h3  style="text-align:left;font-weight: bold;">主办单位</h3>
                        <h4  style="text-align:left;font-weight: bold;">中广德丰文化投资（北京）有限公司</h4>
                        <p class="text-muted">公司隶属于德丰利达集团旗下，是一家专业助力于文化创意产业投资运营公司，为全国各地区文化创意产业发展项目提供运营合作及投融资平台；</p>
                        <p class="text-muted">公司借助雄厚资金实力和专业的人才优势，引领和促进文化产业加快发展；主要从事文化传媒、旅游地产、动漫创意等产业领域的运营合作、投融资、项目建设及管理等；投资领域包含：电影电视、艺人经纪、大型文艺演出、出版发行、新媒体、文化创意产业园区建设、创办动漫创意基地等；</p>
                        <p class="text-muted">公司遵循“以德为先，共享丰盛”的理念，致力于打造专注于文化与创意产业领域的综合性平台，在文化产业资源与资金方面实现高效整合。</p>
                        <h4  style="text-align:left;font-weight: bold;">西风站自驾游工作室 </h4>
                        <p class="text-muted">西风站（丝绸之路）自驾旅游工作室，隶属于上海致尚投资合伙企业，致力于对出境工作、旅游、投资感兴趣的人群，提供专业、便捷的自驾游服务和跨境文化咨询服务。</p>
                        <p class="text-muted">工作室自成立以来，秉承传播中国丝路文化理念，成功协办了“一带一路万里行，开车去米兰”大型自驾文化商贸交流活动。以专业的领队服务、深厚的国际关系网，探索丝绸之路上的历史、地理、文化、商贸，打造自驾旅游文化宣传，促进中西方经济文化交流。</p>

                        <h3  style="text-align:left;font-weight: bold;">支持机构</h3>
                        <h4  style="text-align:left;font-weight: bold;">阿联酋中国商会</h4>
                        <p class="text-muted">阿联酋中国商会是由在阿联酋中资企业和机构组成的非盈利性的社会团体。
                        目前商会会员规模已由成立初期的60家扩展到150多家会员单位和7家团体会员单位，涵盖了能源、建筑、通讯、海运、空运、物流、金融纺织、家具、展会、餐饮、旅游等各个行业在阿经营良好的中资机构和华人企业。中国商会自2009年以来，陆续接纳了七家团体会员单位，他们分别是龙城华人商会、温岭商会、湖南商会、江苏商会、江西商会、安徽商会、河北商会，作为中国商会的挂靠分会，壮大了中国商会的力量和扩大了商会的规模。</p>
                        <h4  style="text-align:left;font-weight: bold;">阿联酋温州商会</h4>
                        <p class="text-muted">阿联酋温州商会是由长期在阿联酋迪拜经商生活的温州籍侨商组成的华商侨团。自2004年成立以来，在中国驻阿联酋使领馆的指导下，一直响应祖国的号召，遵纪守法爱国爱侨积极开展有益于华侨华人和谐发展的各项活动</p>
                        <p class="text-muted">商会首任会长陈志远先生带领温州籍侨商在中东辛苦创业，开拓进取。截至到今年来阿创业的温州商人已经超过1万，总投资金额数亿美金，会员企业达到500多家。温籍商人在阿投资涉足的行业呈多元化发展，从以前单一的鞋类、服装、五金百货发展到如今的机电、建材、房地产开发以及高端餐饮服务等</p>
                        <h4  style="text-align:left;font-weight: bold;">迪拜旅游局</h4>
                        <p class="text-muted">Department of Tourism and Commerce Marketing (DTCM) 是负责规划、监管、开发和营销迪拜旅游业的主要部门。 我们也大力营销和宣传酋长国的商业领域，同时负责审批和分类所有的旅游服务，包括酒店场所、旅游公司、旅行社以及所有其他的旅游服务。</p>
                        <p class="text-muted">我们致力于通过如下举措来增强迪拜的经济实力：吸引游客和外来投资进入酋长国；努力实现迪拜面向 2020 年的旅游愿景，其中之一就是在 2020 年之前每年迎来 2000 万的游客。 DTCM 在迪拜崛起成为全球知名旅游目的地之一的过程中发挥了关键作用，2012 年迎来了 1000 万游客，2013 年的游客数量达到 1100 万。 DTCM 总部在迪拜，此外，它在世界各地设有 20 家办事处。</p>
                        <h4  style="text-align:left;font-weight: bold;">迪拜中华网</h4>
                        <p class="text-muted">迪拜中华网是阿联酋华人最大综合门户网站，拥有活动策划、杂志、视频、网络、社区五大优势，并荣获迪拜政府颁发的最佳战略合作伙伴奖！</p>
                        <p class="text-muted">迪拜中华网以迪拜中国作为域名，顾名思义我们要成为连接迪拜与中国的桥梁，目前已经成为迪拜最大的华人交流平台，但是离我们的目标还很远，对我们来说网站还处于发展阶段，需要大家更多的支持与关爱，能为迪拜华人提供更好更周到的服务。我们将继续秉承“为在迪拜的华人朋友们提供一个免费的交流平台，共建温馨家园”的宗旨，服务于全体在阿华人。</p>
                    <br>
                    </div>
                </div>
            </div>
        </section>

        {{ partial "home/footer.html" . }}
        {{ partial "home/modals.html" . }}
        {{ partial "home/event_summary_js.html" . }}
    </body>
</html>
