<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
    {{ partial "head.html" . }}
</head>
    <body id="page-top" class="index">
        {{ partial "home/single_nav.html" . }}
        <section id="event_summary">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">网上报名</h2>
                        <h3 class="section-subheading text-muted">西风站网上报名</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="">全程５０００公里，２３天</p>
                        <p class="">０１／１１８，０００／人（一车两人）</p>
                        <p class="">０２／１１５，０００／人（一车三人）</p>
                        <h3  style="text-align:left;font-weight: bold;">费用包括:</h3>
                        <p class="">01 全程住宿3-5星标准（部分地区无星级标准，以当地民宿为准）</p>
                        <p class="">02 全程早晨</p> 
                        <p class="">03 全程晚餐</p> 
                        <p class="">04 全程签证费用</p>
                        <p class="">05 全程跟团服务人员，包括车队领队、联络官各一名。</p>
                        <p class="">06 全程当地全陪导游一名。</p>
                        <p class="">07 全程景点参观门票</p>
                        <p class="">08 全程人身保险</p>
                        <p class="">09 全程酒店过夜停车费</p>
                        <p class="">10 巴士参观费（开车不便到达的景点，安排巴士参观（乌兹别克斯坦、土库曼、伊朗全程当地保障车）</p>
                        <p class="">11 国际驾照办理费</p>
                        <p class="">12 回程机票 </p>
                        <p class="">13 全程小费 </p>
                        <p class="">14 车辆人员喀什出关手续费 </p>
                        <p class="">15 各国过境手续费 </p>
                        <p class="">16 乌兹别克斯坦、土库曼、伊朗全程当地保障车</p>
                        <p class="">17 自驾车辆境外各国汽车第三方强制保险 </p>
                        <p class="">18 自驾车辆海运费用（集装箱海运） </p>
                        <p class="">19 港口清关费 </p>
                        <p class="">20 自驾车辆海运保险费（海运货物运输一切险） </p>
                        <p class="">21自驾车辆配套装备（手台、T-Shirt,太阳帽、定制车牌）</p>
                        <br>

                        <h3  style="text-align:left;font-weight: bold;">费用不包括：</h3>
                        <p class="">01 全程午餐</p> 
                        <p class="">02 全程油费 </p>
                        <p class="">03 车辆保养维修费</p>
                        <p class="">04 酒店过夜停车费以外的途中停车费 </p>
                        <p class="">05 回国后，国内转机费 </p>
                        <p class="">06 个人产生的额外费用，如行李超重费、房间服务费用（包括迷你吧消费），互联网服务、电话及传真服务 </p>
                        <p class="">07 集合出发前产生的费用，如提前到达产生的住宿餐饮费等 </p>
                        <p class="">08 因交通延阻、罢工、恶劣天气（比如大风、大雾、风暴等）不可抗力引起的航班或船期取消或更改产生的额外费用 </p>
                        <p class="">09 其他的不可抗拒外力原因所引致的额外费用 </p>
                        <p class="">10 报价中未提及的其他费用</p>

                        <p class="text-muted">注：中途替换人员需增加1.3万/人，其中包含往返机票及接送机，外籍护照人员另询价。若产生单间费用或有其他住宿要求，根据情况另询单间差及房价。</p>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-5">
                    </div>
                    <div class="col-lg-7">
                    <a href="http://form.mikecrm.com/f.php?t=YLOyPw" target="_blank" class="btn btn-success btn-lg" style="padding: 28px, 38px; font-size:28px; ">立即报名</a>
                    </div>
                </div>
            </div>
        </section>

        {{ partial "home/footer.html" . }}
        {{ partial "home/modals.html" . }}
        {{ partial "home/event_summary_js.html" . }}
    </body>
</html>
